<h1 style="text-align: center;"> {{titulo}} </h1>

<div class="container">
  <form action="">
    <input type="text" name="nombre" [(ngModel)]="nombre" >
    <br>
    <input type="text" name="apellido" [(ngModel)]="apellido" >
    <br>
    <input type="submit" value="Registrar" class="btn btn-danger" (click)="registrarUsuario()">
    <br>
  
  </form>
</div>

<br>

<div class="container">
  <p *ngIf="registrado; else sinRegistrar" > {{mensaje}} </p>
  
  <ng-template #sinRegistrar>
    <p>Nadie Registrado</p>
  </ng-template>
</div>

